SWOOOP.xcodeproj/project.xcworkspace/xcuserdata/stevedsimkins.xcuserdatad/UserInterfaceState.xcuserstate
SWOOOP/Chillax_Complete/Fonts/.DS_Store
SWOOOP/.DS_Store
SWOOOP/Chillax_Complete/.DS_Store
.DS_Store
